@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --playfair: "Playfair Display", serif;
    --quicksand: "Quicksand", sans-serif;
    --roboto: "Roboto", sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--playfair);
}
body {
    line-height: 1.4;
    color: var(--dark);
}
img {
    width: 100%;
    display: block;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation .logo a {
    color: #fff;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    font-family: var(--playfair);
    letter-spacing: 1px;
}
.navbar-nav {
    padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a {
    text-transform: uppercase;
    font-family: var(--roboto);
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.navbar-nav a:hover {
    opacity: 0.7;
}
.design {
    padding: 4.5rem 0;
}
.title {
    text-align: center;
    padding: 1rem 0;
}
.title h2 {
    font-family: var(--playfair);
    font-size: 2.4rem;
}
.title p {
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-item {
    cursor: pointer;
    margin: 0;
}
.design-content {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.design-item {
    cursor: pointer;
    margin: 0;
}
.design-img {
    position: relative;
    overflow: hidden;
}
.design-img::after {
    position: absolute;
    content: "what";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img {
    transition: all 0.5s ease;
}
.design-item:hover img {
    transform: scale(1.2);
}
.design-img span:first-of-type {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--dark);
    padding: 0.25rem 1rem;
    color: white;
}
.design-img span:last-of-type {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.design-title a {
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--playfair);
}
body {
    background-image: url(photos/pexels-fwstudio-129731.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
